@media screen and (max-width: 992px) {
    header .nav{
        height: 80px;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    header .nav img{
        width: 70px;
    } 
    header .nav .search-container{
        width: 500px;
    }

    header .nav h1{
        font-size: 19px;
    }
}